In [ ]:
#1

# string concatenation 
print('hello'+ ' world')
first_name="harshit"
last_name="vashistha"
full_name= first_name+" "+last_name
print(full_name)

print(full_name + " hello")   #string can only be added with strings.
print(full_name + "3")
# print(full_name + 3)  #error
print(full_name + str(3) ) #no error

print(first_name*3)

In [ ]:
#2

#user input 

name =input()  #input-> yash agrawal or yash19 or 2337
print(name)

name= input("type your name")       #yash 
print("hello"+ name) 
age=input("what is your age")       #24    
#'24' input form her        #input by user is always taken in string form.  
print("your age is"+age)   #input by user stors in variable(name).

In [ ]:
#3

# int()function 
#sum of two input numbers 
number_one= int(input("enter first number "))  #integer #5
number_two=int(input('enter second number ')) #integer #3
total= number_one +number_two  #integer  #8 
print('total is ' + str(total))   

number1=str(4)                 #string function 
number2=float('44')            #float function
number3=int('33')              #intege function 
print(number2+number3)

In [ ]:
#4

# more about variables
name,age='harshit' , '24'       #declaring more than one variable in a single line  
print('hello '+ name +' your age is '+ age)
x=y=z=1 
print(x+y+z)

#or 

name ,age = "harshit" , 24
print(name)
print(age)

#example
x= "yash"
y="17"
name , age = x ,y
print(name) 
print(age)

In [ ]:
#5 

# two or more input in one line 

# name=input("enter your name: ")
# age=input("enter your age:") 


name,age=input("type your name and age ").split() #nothing in .split() fuction means space seperated inputs 
# inputs -> harshit24 #no space will show eror ( expected  two and got one value)
#-> harshit 24 # no error 
print("hello "+name+' your age is '+ age )
print(name)
print(age)

#comma seperated inputs 
name,age=input("type your name and age\n").split(",")
print (name )
print (age)